// Name:            Cards
// Description:     A convenient way to display content composes of different type of object (images, text and links)
//
// Component:       `uk-card`
//
// Modifiers:       `uk-card-panel`
//                  `uk-card-title`
//                  `uk-card-image`
//                  `uk-card-content`
//                  `uk-card-action`
//                  `uk-card .horizontal`
//                  `uk-card .small`
//                  `uk-card .medium`
//                  `uk-card .large`
//
// ========================================================================


// Variables
// ========================================================================
@uk-special-width: 1.5rem !default;
@uk-card-top-margin: @uk-special-width/3 !default;
@uk-card-bottom-margin: (@uk-special-width*2)/3 !default;
@uk-card-bg-color: #ffffff !default;
@uk-card-padding: 20px !default;
@uk-card-link-color: rgb(11,161,216) !default;
@uk-card-link-color-light: rgb(61,192,241) !default;

/* ========================================================================
   Component: Cards
 ========================================================================== */
 
 .uk-card {
	position: relative;
	margin: @uk-card-top-margin 0 @uk-card-bottom-margin 0;
	background-color: @uk-card-bg-color;
	transition: box-shadow .25s;
	border-radius: 2px;
 }
 
 .uk-card .uk-card-title`{
	font-size: 24px;
	font-weight: 300;
 }
 
 .uk-card .uk-card-title.activator {
	cursor: pointer;
 }
 
 /* .uk-card-content */
 
.uk-card .uk-card-content{
	padding: @uk-card-padding;
	border-radius: 0 0 2px 2px;
 }
 
.uk-card .uk-card-content p{
	margin: 0;
	color: inherit;
 }
 
.uk-card .uk-card-content .uk-card-title{
	line-height: 48px;
 }
 
 /* .uk-card-action */
 
 .uk-card .uk-card-action{
	position: relative;
	background-color: inherit;
	border-top: 1px solid rgba(160,160,160,.2);
	padding: @uk-card-padding;
 }
 
 .uk-card .uk-card-action a:not(.uk-button):not(.uk-button-large){
	color: @uk-card-link-color;
	margin-right: @uk-card-padding;
	transition: color .3s ease;
	text-transform: uppercase;
 }
 
 .uk-card .uk-card-action a:not(.uk-button):not(.uk-button-large):hover{
	color: @uk-card-link-color-light;
 }


/* uk-card-image */
 
 .uk-card .uk-card-image{
	position: relative;
 }
 
 .uk-card .uk-card-image img{
	display: block;
	border-radius: 2px 2px 0 0;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
 }
 
 .uk-card .uk-card-image .uk-card-title{
	color: @uk-card-bg-color;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: @uk-card-padding;
 }

/* Horizontal Cards */
 
.uk-card horizontal {
  display: flex;
}
.uk-card .horizontal.small .uk-card-image, .horizontal.medium .uk-card-image, .horizontal.large .uk-card-image {
  height: 100%;
  max-height: none;
  overflow: visible;
}
.uk-card .horizontal.small .uk-card-image img, .horizontal.medium .uk-card-image img, .horizontal.large .uk-card-image img {
  height: 100%;
}
.uk-card .horizontal .card-image {
  max-width: 50%;
}

.uk-card .horizontal .card-image img {
  border-radius: 2px 0 0 2px;
  max-width: 100%;
  width: auto;
}

.uk-card .horizontal .card-stacked {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.uk-card .horizontal .card-stacked .card-content {
  flex-grow: 1;
}

/* Cards sizes: small, medium and large */

.uk-card.small, .uk-card.medium, .uk-card.large {
  position: relative;
}
.uk-card.small .card-image, .uk-card.medium .card-image, .uk-card.large .card-image {
  max-height: 60%;
  overflow: hidden;
}
.uk-card.small .card-image + .card-content, .uk-card.medium .card-image + .card-content, .uk-card.large .card-image + .card-content {
  max-height: 40%;
}
.uk-card.small .card-content, .uk-card.medium .card-content, .uk-card.large .card-content {
  max-height: 100%;
  overflow: hidden;
}
.uk-card.small .card-action, .uk-card.medium .card-action, .uk-card.large .card-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.uk-card.small {
  height: 300px;
}
.uk-card.medium {
  height: 400px;
}
.uk-card.large {
  height: 500px;
}
